<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.min.css?_v=20221109140824">
    <link rel="icon" href="favicon.svg" type=" image/svg+xml">
    <title>BPAY2</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="header">
                <div class="flex">
                    <div class="logo"><a href="#"><img src="img/logo.svg" alt="logo"></a></div>
                    <div class="header__languages languages">
                        <div class="languages__active">
                            <span>Eng</span>
                            <div class="languages__narrow"><img src="img/Dropdown.svg"></div>
                        </div>
                        <ul class="languages__list">
                            <li class="languages__item"><a href="#">Rus</a></li>
                            <li class="languages__item"><a href="#">Fra</a></li>
                        </ul>
                    </div>
                </div>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li class="header__item active"><a href="#">Обмен</a></li>
                        <li class="header__item"><a href="#">О проекте</a></li>
                        <li class="header__item"><a href="#">Отзывы</a></li>
                        <li class="header__item"><a href="#">Частые вопросы</a></li>
                        <li class="header__item"><a href="#">Поддержка</a></li>
                    </ul>
                </nav>
                <div class="header__buttons">
                    <button class="yellow-button blind-background">Вход</button>
                    <button class="yellow-button">Регистрация</button>
                </div>
                <div class="header__burger"><span></span></div>
            </div>   
        </div>
        <div class="header-infoMessage blind-background">
            <div class="container text-center">
                Операторы онлайн <span class="circle green-background"></span> Мы работаем с 12:00 до 21:00 по МСК
            </div>
        </div>
    </header>
    <main>



    <section>
        <div class="container">
            <h1 class="margin-bottom">Здравствуйте, Иван</h1>
            <div data-tab-menu="profile" class="tabLinksContainer margin-bottom">
                <div data-tab="profile-1" class="MiTab-narrow tabLink active-tabLink">История обменов</div>
                <div data-tab="profile-2" class="MiTab-narrow tabLink">Личные данные</div>
            </div>
            <div data-tab-container="profile" class="profile-tabsContainer">
                <div data-tabbody="profile-1" class="profile-tab MiTab-item active">
                    <div class="madeRequest margin-bottom">
                        <div class="madeRequest__data">
                            <div class="madeRequest__subBlock">
                                <div class="madeRequest__number miniText">Номер заявки <span>3465446</span></div>
                                <div class="madeRequest__exchange">
                                    <span>Отдаете</span> 1 BTC
                                    <div class="madeRequest__narrow"><img src="img/arrow-narrow-right.svg"></div>
                                    <span>Получаете</span> Альфабанк 5000 ₽ 
                                </div>
                                <div class="madeRequest__course miniText">по курсу <span>1 421 731.57 ₽</span> = <span>1 BTC</span></div>
                            </div>
                            <div class="madeRequest__subBlock">
                                <div class="madeRequest__status madeRequest__status--success">Завершена</div>
                                <div class="madeRequest__date">1 ноября 2022, 23:24</div>
                            </div>
                        </div>
                        <div class="madeRequest__fields">
                            <div class="input-container"> 
                                <input class="field field--grey" readonly type="text" value="srg4gsrh4gw4gwg2ef2efeg3rh453534g3ferg">
                                <div class="input-placeholder">Кошелек отправителя</div>
                            </div>
                            <div class="input-container"> 
                                <input class="field field--grey" readonly type="text" value="3423 2352 4532 5435">
                                <div class="input-placeholder">Номер карты получателя</div>
                            </div>
                        </div>
                    </div>
                    <div class="madeRequest margin-bottom">
                        <div class="madeRequest__data">
                            <div class="madeRequest__subBlock">
                                <div class="madeRequest__number miniText">Номер заявки <span>3465446</span></div>
                                <div class="madeRequest__exchange">
                                    <span>Отдаете</span> 1 BTC
                                    <div class="madeRequest__narrow"><img src="img/arrow-narrow-right.svg"></div>
                                    <span>Получаете</span> Альфабанк 5000 ₽ 
                                </div>
                                <div class="madeRequest__course miniText">по курсу <span>1 421 731.57 ₽</span> = <span>1 BTC</span></div>
                            </div>
                            <div class="madeRequest__subBlock">
                                <div class="madeRequest__status madeRequest__status--error">Отменена</div>
                                <div class="madeRequest__date">1 ноября 2022, 23:24</div>
                            </div>
                        </div>
                        <div class="madeRequest__fields">
                            <div class="input-container"> 
                                <input class="field field--grey" readonly type="text" value="srg4gsrh4gw4gwg2ef2efeg3rh453534g3ferg">
                                <div class="input-placeholder">Кошелек отправителя</div>
                            </div>
                            <div class="input-container"> 
                                <input class="field field--grey" readonly type="text" value="3423 2352 4532 5435">
                                <div class="input-placeholder">Номер карты получателя</div>
                            </div>
                        </div>
                    </div>
                    <div class="madeRequest margin-bottom">
                        <div class="madeRequest__data">
                            <div class="madeRequest__subBlock">
                                <div class="madeRequest__number miniText">Номер заявки <span>3465446</span></div>
                                <div class="madeRequest__exchange">
                                    <span>Отдаете</span> 1 BTC
                                    <div class="madeRequest__narrow"><img src="img/arrow-narrow-right.svg"></div>
                                    <span>Получаете</span> Альфабанк 5000 ₽ 
                                </div>
                                <div class="madeRequest__course miniText">по курсу <span>1 421 731.57 ₽</span> = <span>1 BTC</span></div>
                            </div>
                            <div class="madeRequest__subBlock">
                                <div class="madeRequest__status madeRequest__status--success">Завершена</div>
                                <div class="madeRequest__date">1 ноября 2022, 23:24</div>
                            </div>
                        </div>
                        <div class="madeRequest__fields">
                            <div class="input-container"> 
                                <input class="field field--grey" readonly type="text" value="srg4gsrh4gw4gwg2ef2efeg3rh453534g3ferg">
                                <div class="input-placeholder">Кошелек отправителя</div>
                            </div>
                            <div class="input-container"> 
                                <input class="field field--grey" readonly type="text" value="3423 2352 4532 5435">
                                <div class="input-placeholder">Номер карты получателя</div>
                            </div>
                        </div>
                    </div>
                    <h1 class="margin-top-x2 margin-bottom-x2">Ваша реферальная ссылка</h1>
                    <div class="profile-text center margin-bottom-x2">
                        <p class="text-center">Но чтобы вы поняли, откуда возникает это превратное представление людей, порицающих наслаждение и восхваляющих страдания, я раскрою перед вами всю картину и разъясню, что именно говорил этот человек, открывший истину, которого я бы назвал зодчим счастливой жизни. Но чтобы вы поняли, откуда возникает это превратное представление людей, порицающих наслаждение и восхваляющих страдания, я раскрою перед вами всю картину и разъясню, что именно говорил этот человек, открывший истину, которого я бы назвал зодчим счастливой жизни.</p>
                    </div>
                    <div class="margin-bottom-x2">
                        <div class="text-2">https://irbgir23f2wgsrgr.com/ref?eafg4w3rg3rg5g5</div>
                    </div>
                    <button class="yellow-button center" data-copy-value="https://irbgir23f2wgsrgr.com/ref?eafg4w3rg3rg5g5" data-text-after-copy="Скопировано"><span>Скопировать</span></button>
                </div>
                <div data-tabbody="profile-2" class="profile-tab MiTab-item">
                    <div class="container container--small">
                        <form action="#">
                            <div class="input-container margin-bottom">
                                <input class="field" type="text" value="sgrgdth@dthdfthf.esgrghd">
                                <div class="input-placeholder">Ваш email</div>
                            </div>
                            <div class="input-container margin-bottom">
                                <input class="field" type="password" value="sgrgdth@dthdfthf.esgrghd">
                                <div class="input-placeholder">Ваш старый пароль</div>
                            </div>
                            <div class="input-container margin-bottom">
                                <input class="field" type="password" value="sgrgdth@dthdfthf.esgrghd">
                                <div class="input-placeholder">Ваш новый пароль</div>
                            </div>
                            <div class="input-container margin-bottom">
                                <input class="field" type="password" value="sgrgdth@dthdfthf.esgrghd">
                                <div class="input-placeholder">Ваш новый пароль еще раз</div>
                            </div>
                            <div class="margin-bottom">
                                <div class="g-recaptcha f-center" data-sitekey="а"></div>
                            </div>
                            <div class="message message--error margin-bottom">
                                <div class="message__icon">
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.031 19.5454C19.5717 19.5454 20.5338 17.8767 19.7619 16.5434L14.2308 6.98963C13.4604 5.65906 11.5394 5.65906 10.7691 6.98963L5.23796 16.5434C4.46603 17.8767 5.42815 19.5454 6.96881 19.5454H18.031ZM11.6817 17.0909V15.4545H13.3181V17.0909H11.6817ZM11.6817 13.8182V10.5454H13.3181V13.8182H11.6817Z" fill="#FFE2E2"/>
                                        <mask id="mask0_1_7170" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="4" y="5" width="17" height="15">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.031 19.5454C19.5717 19.5454 20.5338 17.8767 19.7619 16.5434L14.2308 6.98963C13.4604 5.65906 11.5394 5.65906 10.7691 6.98963L5.23796 16.5434C4.46603 17.8767 5.42815 19.5454 6.96881 19.5454H18.031ZM11.6817 17.0909V15.4545H13.3181V17.0909H11.6817ZM11.6817 13.8182V10.5454H13.3181V13.8182H11.6817Z" fill="white"/>
                                        </mask>
                                        <g mask="url(#mask0_1_7170)">
                                        <rect x="0.5" width="24" height="24" />
                                        </g>
                                    </svg> 
                                </div>
                                <div class="message__text">Системное сообщение</div>
                                <div class="message__close" onclick="this.closest('.message').remove()"><span></span></div>
                            </div>
                            <div class="message message--success margin-bottom">
                                <div class="message__icon">
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.031 19.5454C19.5717 19.5454 20.5338 17.8767 19.7619 16.5434L14.2308 6.98963C13.4604 5.65906 11.5394 5.65906 10.7691 6.98963L5.23796 16.5434C4.46603 17.8767 5.42815 19.5454 6.96881 19.5454H18.031ZM11.6817 17.0909V15.4545H13.3181V17.0909H11.6817ZM11.6817 13.8182V10.5454H13.3181V13.8182H11.6817Z" fill="#FFE2E2"/>
                                        <mask id="mask0_1_7170" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="4" y="5" width="17" height="15">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.031 19.5454C19.5717 19.5454 20.5338 17.8767 19.7619 16.5434L14.2308 6.98963C13.4604 5.65906 11.5394 5.65906 10.7691 6.98963L5.23796 16.5434C4.46603 17.8767 5.42815 19.5454 6.96881 19.5454H18.031ZM11.6817 17.0909V15.4545H13.3181V17.0909H11.6817ZM11.6817 13.8182V10.5454H13.3181V13.8182H11.6817Z" fill="white"/>
                                        </mask>
                                        <g mask="url(#mask0_1_7170)">
                                        <rect x="0.5" width="24" height="24" />
                                        </g>
                                    </svg> 
                                </div>
                                <div class="message__text">Системное сообщение</div>
                                <div class="message__close" onclick="this.closest('.message').remove()"><span></span></div>
                            </div>
                            <div class="margin-top-x2">
                                <button class="yellow-button center" type="submit">Сохранить изменения</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <section class="margin-top-x2">
            <div class="container">
                <div class="banner">
                    <div class="banner__img">
                        <img src="img/banner.svg">
                    </div>
                    <div class="banner__info">
                        <div class="banner__text">
                            Теперь вы можете осуществлять обмен через наш телеграм-бот!
                        </div>
                        <button onclick="document.location.href='#'" class="banner__button yellow-button">
                            Обменять через бот
                            <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_1_343)">
                                <path d="M17.8898 3.93535L15.1918 16.6595C14.9882 17.5575 14.4574 17.781 13.703 17.358L9.59201 14.3286L7.60835 16.2364C7.38883 16.4559 7.20523 16.6395 6.78216 16.6395L7.07751 12.4527L14.6968 5.56778C15.0281 5.27242 14.625 5.10878 14.182 5.40413L4.76258 11.3352L0.707456 10.0659C-0.174613 9.79053 -0.190578 9.18386 0.891054 8.76079L16.7523 2.65016C17.4867 2.37476 18.1293 2.8138 17.8898 3.93535Z"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1_343">
                                <rect width="17.8809" height="20.4353" fill="white" transform="translate(0.0595703)"/>
                                </clipPath>
                                </defs>
                            </svg>                                
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="footer">
                <div class="footer__info">
                    <div class="footer__block">
                        <div class="footer__title">Информация</div>
                        <ul class="footer__list">
                            <li class="footer__item"><a href="#">Партнеры</a></li>
                            <li class="footer__item"><a href="#">Правила обмена</a></li>
                            <li class="footer__item"><a href="#">Вакансии</a></li>
                            <li class="footer__item"><a href="#">Обратная связь</a></li>
                        </ul>
                    </div>
                    <div class="footer__block">
                        <div class="footer__title">Контакты</div>
                        <ul class="footer__list">
                            <li class="footer__item footer__item--icon">
                                <a href="#" target="_blank">
                                    <span class="footer__icon"><img src="img/telegram.svg"></span>
                                    @binancepay
                                </a>
                            </li>
                            <li class="footer__item footer__item--icon">
                                <a href="#" target="_blank">
                                    <span class="footer__icon"><img src="img/telegram.svg"></span>
                                    @binancepay
                                </a>
                            </li>
                            <li class="footer__item footer__item--icon">
                                <a href="mailto:contact@binancepay.com" target="_blank">
                                    <span class="footer__icon"><img src="img/mail.svg"></span>
                                    contact@binancepay.com
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__block">
                        <div class="logo"><img src="img/logo.svg"></div>
                        <p class="footer__text">
                            Но чтобы вы поняли, откуда возникает это превратное представление людей, порицающих наслаждение и восхваляющих страдания, я раскрою перед вами всю картину и разъясню, что именно говорил этот человек, открывший истину, которого я бы назвал зодчим счастливой жизни. 
                        </p>
                    </div>
                </div>
                <div class="footer__rights">© 2022 BINANCEPAY. Все права защищены</div>
            </div>
        </div>
    </footer>
    <script src="https://www.google.com/recaptcha/api.js?_v=20221109140824"></script>
    <script src="js/main.min.js?_v=20221109140824"></script>
</body>
</html>