<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.min.css?_v=20221109140824">
    <link rel="icon" href="favicon.svg" type=" image/svg+xml">
    <title>BPAY2</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="header">
                <div class="flex">
                    <div class="logo"><a href="#"><img src="img/logo.svg" alt="logo"></a></div>
                    <div class="header__languages languages">
                        <div class="languages__active">
                            <span>Eng</span>
                            <div class="languages__narrow"><img src="img/Dropdown.svg"></div>
                        </div>
                        <ul class="languages__list">
                            <li class="languages__item"><a href="#">Rus</a></li>
                            <li class="languages__item"><a href="#">Fra</a></li>
                        </ul>
                    </div>
                </div>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li class="header__item active"><a href="#">Обмен</a></li>
                        <li class="header__item"><a href="#">О проекте</a></li>
                        <li class="header__item"><a href="#">Отзывы</a></li>
                        <li class="header__item"><a href="#">Частые вопросы</a></li>
                        <li class="header__item"><a href="#">Поддержка</a></li>
                    </ul>
                </nav>
                <div class="header__buttons">
                    <button class="yellow-button blind-background">Вход</button>
                    <button class="yellow-button">Регистрация</button>
                </div>
                <div class="header__burger"><span></span></div>
            </div>   
        </div>
        <div class="header-infoMessage blind-background">
            <div class="container text-center">
                Операторы онлайн <span class="circle green-background"></span> Мы работаем с 12:00 до 21:00 по МСК
            </div>
        </div>
    </header>
    <main>



    <section>
        <div class="container">
            <h1 class="margin-bottom">Частые вопросы</h1>
            <div class="margin-bottom-x2">
                <div class="spoilers">
                    <div class="spoiler active">
                        <div class="spoiler__touch">
                            <div class="spoiler__icon"><span></span></div>
                            <div class="spoiler__title">Почему комиссия постоянно меняется</div>
                        </div>
                        <div class="spoiler__container">
                            <div class="spoiler__text">
                                Но чтобы вы поняли, откуда возникает это превратное представление людей, порицающих наслаждение и восхваляющих страдания, я раскрою перед вами всю картину и разъясню, что именно говорил этот человек, открывший истину, которого я бы назвал зодчим счастливой жизни. Действительно, никто не отвергает, не презирает, не избегает наслаждений только из-за того, что это наслаждения, но лишь из-за того, что тех, кто не умеет разумно предаваться наслаждениям, постигают великие страдания. Равно как нет никого, кто возлюбил бы, предпочел и возжаждал бы само страдание.
                            </div>
                        </div>
                    </div>
                    <div class="spoiler">
                        <div class="spoiler__touch">
                            <div class="spoiler__icon"><span></span></div>
                            <div class="spoiler__title">Почему транзакции подтверждаются по 20 минут</div>
                        </div>
                        <div class="spoiler__container">
                            <div class="spoiler__text">
                                Но чтобы вы поняли, откуда возникает это превратное представление людей, порицающих наслаждение и восхваляющих страдания, я раскрою перед вами всю картину и разъясню, что именно говорил этот человек, открывший истину, которого я бы назвал зодчим счастливой жизни. Действительно, никто не отвергает, не презирает, не избегает наслаждений только из-за того, что это наслаждения, но лишь из-за того, что тех, кто не умеет разумно предаваться наслаждениям, постигают великие страдания. Равно как нет никого, кто возлюбил бы, предпочел и возжаждал бы само страдание.
                            </div>
                        </div>
                    </div>
                    <div class="spoiler">
                        <div class="spoiler__touch">
                            <div class="spoiler__icon"><span></span></div>
                            <div class="spoiler__title">Что такое Биткойн</div>
                        </div>
                        <div class="spoiler__container">
                            <div class="spoiler__text">
                                Но чтобы вы поняли, откуда возникает это превратное представление людей, порицающих наслаждение и восхваляющих страдания, я раскрою перед вами всю картину и разъясню, что именно говорил этот человек, открывший истину, которого я бы назвал зодчим счастливой жизни. Действительно, никто не отвергает, не презирает, не избегает наслаждений только из-за того, что это наслаждения, но лишь из-за того, что тех, кто не умеет разумно предаваться наслаждениям, постигают великие страдания. Равно как нет никого, кто возлюбил бы, предпочел и возжаждал бы само страдание.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="yellow-button center">Задать вопрос</button>
        </div>
    </section>

        <section class="margin-top-x2">
            <div class="container">
                <div class="banner">
                    <div class="banner__img">
                        <img src="img/banner.svg">
                    </div>
                    <div class="banner__info">
                        <div class="banner__text">
                            Теперь вы можете осуществлять обмен через наш телеграм-бот!
                        </div>
                        <button onclick="document.location.href='#'" class="banner__button yellow-button">
                            Обменять через бот
                            <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_1_343)">
                                <path d="M17.8898 3.93535L15.1918 16.6595C14.9882 17.5575 14.4574 17.781 13.703 17.358L9.59201 14.3286L7.60835 16.2364C7.38883 16.4559 7.20523 16.6395 6.78216 16.6395L7.07751 12.4527L14.6968 5.56778C15.0281 5.27242 14.625 5.10878 14.182 5.40413L4.76258 11.3352L0.707456 10.0659C-0.174613 9.79053 -0.190578 9.18386 0.891054 8.76079L16.7523 2.65016C17.4867 2.37476 18.1293 2.8138 17.8898 3.93535Z"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1_343">
                                <rect width="17.8809" height="20.4353" fill="white" transform="translate(0.0595703)"/>
                                </clipPath>
                                </defs>
                            </svg>                                
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="footer">
                <div class="footer__info">
                    <div class="footer__block">
                        <div class="footer__title">Информация</div>
                        <ul class="footer__list">
                            <li class="footer__item"><a href="#">Партнеры</a></li>
                            <li class="footer__item"><a href="#">Правила обмена</a></li>
                            <li class="footer__item"><a href="#">Вакансии</a></li>
                            <li class="footer__item"><a href="#">Обратная связь</a></li>
                        </ul>
                    </div>
                    <div class="footer__block">
                        <div class="footer__title">Контакты</div>
                        <ul class="footer__list">
                            <li class="footer__item footer__item--icon">
                                <a href="#" target="_blank">
                                    <span class="footer__icon"><img src="img/telegram.svg"></span>
                                    @binancepay
                                </a>
                            </li>
                            <li class="footer__item footer__item--icon">
                                <a href="#" target="_blank">
                                    <span class="footer__icon"><img src="img/telegram.svg"></span>
                                    @binancepay
                                </a>
                            </li>
                            <li class="footer__item footer__item--icon">
                                <a href="mailto:contact@binancepay.com" target="_blank">
                                    <span class="footer__icon"><img src="img/mail.svg"></span>
                                    contact@binancepay.com
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__block">
                        <div class="logo"><img src="img/logo.svg"></div>
                        <p class="footer__text">
                            Но чтобы вы поняли, откуда возникает это превратное представление людей, порицающих наслаждение и восхваляющих страдания, я раскрою перед вами всю картину и разъясню, что именно говорил этот человек, открывший истину, которого я бы назвал зодчим счастливой жизни. 
                        </p>
                    </div>
                </div>
                <div class="footer__rights">© 2022 BINANCEPAY. Все права защищены</div>
            </div>
        </div>
    </footer>
    <script src="https://www.google.com/recaptcha/api.js?_v=20221109140824"></script>
    <script src="js/main.min.js?_v=20221109140824"></script>
</body>
</html>
