{% extends 'bsite/base.html' %}

{% load i18n %}
{% load static %}
{% load bsite_tags %}
{% header_menu as main_menu %}

{% block title %}
<title>{% title 'custom' "AML/KYC" %}</title>
{% endblock %}


{% block content %}

<section class="amlkyc">
    <div class="rules__container">
        <h4 class="rules__mtitle">AML/KYC</h4>
        <p class="rules-mtext">
            <strong>KYC</strong> (Know Your Customer — «знай своего клиента») — обязательная для
            финансовых институтов (банков, бирж, букмекеров и др.) процедура
            идентификации контрагентов. Включает в себя процедуры отбора
            (критерии, кто может стать клиентом) и идентификации (паспортные
            данные, биометрические данные), а также отслеживание транзакций и их
            анализ.
        </p>
        <p class="rules-mtext amlkyc__space">
            <strong>AML</strong> (Anti-Money Laundering — «противоотмывочные меры») — распознавание
            схем по отмыванию денег на основе анализа агрегированных данных.<br>
            Подозрительные транзакции выявляются через анализ всех имеющихся в
            наличии данных. Проблемой являются так называемые false positives —
            транзакции, не являющиеся частью криминальной схемы, но с точки зрения
            алгоритмов выглядящие именно так. Поэтому AML пока ещё не может
            обойтись без человеческого участия. Специалисты проверяют все
            операции, которые алгоритм счёл мошенническими, и при необходимости
            исправляют ошибки.
        </p>
    </div>
</section>

{% endblock %}