{% extends 'bsite/base.html' %}
{% load static %}
{% load i18n %}
{% load bsite_tags %}
{% block title %}
    <title>{% title 'custom' "Восстановление пароля" %}</title>
{% endblock %}
{% block content %}
<section>
        <div class="container container--small">
            <h1 class="margin-bottom">{% trans "Восстановление пароля" %}</h1>
            {% if form.non_field_errors %}
                {% error_message form.non_field_errors %}
            {% endif %}
            {% include "bsite/messages.html" %}
            <form method="post">
                {% csrf_token %}
                <div class="input-container margin-bottom">
                    {{ form.password1 }}
                    <div class="input-placeholder">{% trans "Ваш новый пароль" %}</div>
                </div>
                <div class="input-container margin-bottom">
                    {{ form.password2 }}
                    <div class="input-placeholder">{% trans "Пароль еще раз" %}</div>
                </div>
                <div class="margin-top-x2">
                    <button class="yellow-button center" type="submit">{% trans "Сохранить изменения" %}</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}