{% extends 'bsite/base.html' %}
{% load static %}
{% load i18n %}
{% load bsite_tags %}

{% block title %}
    <title>{% title 'custom' "Восстановление пароля" %}</title>
{% endblock %}

{% block content %}
<section>
    <div class="container container--small">
        <h1 class="margin-bottom">{% trans "Восстановление пароля" %}</h1>
        {% if form.non_field_errors %}
            {% error_message form.non_field_errors %}
        {% endif %}
        {% include "bsite/messages.html" %}
        <form action="{% url 'recover_password' %}" method="post">
            {% csrf_token %}
            <div class="input-container margin-bottom">
                {{ form.mail }}
                <div class="input-placeholder">{% trans "Ваш email" %}</div>
            </div>
            <div class="margin-bottom">
                <div class="form-group f-center g-recaptcha" data-sitekey="{{recaptcha_site_key}}"></div>
            </div>
            <div class="margin-top-x2">
                <button class="yellow-button center" type="submit">{% trans "Отправить ссылку на восстановления пароля" %}</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}